
@import url(/gnu/theme/basic/css/main/subeun.css);



#hd, #wrapper, .container, #ft{ min-width: auto;}
#hd_wrapper{ height: auto;}
.inner{ max-width: 1200px; margin: 0 auto;}
.h-100{ height: 100% !important;}
.fontstyle{  font-family: 'GangwonEdu_OTFLightA' !important;}

.section{ min-height:50vw;}





section{
    font-family: 'Noto Sans KR', sans-serif;
}
#logo a{ width:80px}

.gnb_1da{
    font-family: 'Noto Sans KR', sans-serif;
}
.gnb_1dli .mbt, .gnb_1dli .mbt:before, .gnb_1dli .mbt:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgb(211, 5, 5);
    height: 2px;
    width: 100%;
}
.gnb_1dli .mbt:before{
    margin-top: 3vw;
}
.gnb_1dli .mbt:after{
    margin-top: 6vw;
}
section h3{
    color:#B70000;
    font-family: 'Noto Sans KR', sans-serif;
}
section p{
    font-size: 23px;
}
section .bk_t{
    color:#000;
}
#keyword img{
   max-height:245px;
   height:100%;
   
}
#keyword .b_y{
    border:solid 5px #fef070;
}
#keyword .b_g{
    border:solid 5px #04610c;
}
#keyword{
    background-image: url(/gnu/img/k_back.png);
    overflow: hidden;
} 
 #keyword a span{
  
    color: #04610c;
    font-size: 7.8rem;
    position: relative;
}
#keyword img{
    opacity: 0.3;
    filter: alpha(opacity=100);
}
#keyword img:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
#keyword .tc-y{
    color:#fef070;
}
#keyword{
    position:relative;
    overflow: hidden;
}
#keyword:after{
    content: "";
    position: absolute;
    width: 134vw;
    height: 80vw;
    background-color: #F4D100;
    top: -50%;
    left: -33%;
    transform: rotate(-5deg) translate(7%, -50%);
    z-index: -1;
}
#keyword:before{
    content: "";
    position: absolute;
    width: 134vw;
    height: 80vw;
    background-color: #1C8A00;
    top: -525px;
    left: -33%;
    transform: rotate(5deg) translate(1%, -50%);
    z-index: -2;
}
#keyword strong{
    font-size: 3rem;
}
#keyword .pinksub{
    color:#f4b3b3;
    font-weight: 300;
}
#keyword dl{
    font-family: 'Noto Sans KR', sans-serif;
}
#keyword dd{
    font-size: 1.3rem;
    color:#ca1818;
}
#keyword .bksub{
    color:#000;
}
#slogen .poem{
    top: 22%;
    left: 42.5%;
}
#slogen .bg_g img{
    margin-right: 8px;
}
#slogen .poem p{
    font-size: 2rem;
    font-family: 'Hahmlet', serif;
    font-weight: 550;
}
#slogen .bg_g{
    background-color: #fff8f896;
    border-radius: 1rem;
    width: 13.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    top: 73%;
    left: 45.5%;
}
#slogen a{
    text-decoration: none;
    color:#000;
}
#slogen .pwat{
    display:flex;
}
#slogen .bg_g img{
    width: 35px;
    height:35px;
}
#slogen img{
    width:100%;
    height:30vh;
}
#photo img{
    max-height:300px;
    height:100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
}
.swiper-slide{
    max-height:800px;
    height:100vw;
}
/*#photo{
    position:relative;
}*/
#photo{
    overflow: hidden;
}
#photo :after{
    content: "";
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vw;
    background-color: #F4D100;
    top: 17%;
    left: -64%;
    transform: rotate(-18deg) translate(11%, -119%);
    z-index: -1;
}
#photo .sc img:hover{
    transform: scale(1);
}
#product{
    background-image: url(/gnu/img/pro_back.png);
}
#product .card{
    text-align: center;
    margin-top:104px;
}
#product .card .a_1{
    left: 0;
    transform: translateX(0);
}
#product .card .a_2{
    left: 20%;
    transform: translateX(0) rotate(-16deg);
}
#product .card .a_3{
    left: 35%;
    transform: rotate(11deg);
}
#product .card .a_4{
    left: 55%;
    transform: translateX(0) rotate(-10deg);
}
#product .card .a_5{
    left: 75%;
    transform: translateX(0) rotate(11deg);
}
#product .pak{
    display: inline-block;
    width: 23.33%;
    padding: 22px 22px 100px 22px;
    border-radius: 20px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
    transition:1s;
}
#product .pak img{
    border:solid #ccc 1px;
}
#product .card .pak:hover{
    z-index: 99;
    transform: scale(1.2);
    transition:1s;
}
#as{
    background-image: url(/gnu/img/as_back.png);
    position: relative;
}

#as span i{
    color:#ecc30a;
    font-size:2.5em;
    display: block;
}
#as .de{
    color:#adacac;
    font-size: 1em;
}
#as strong{
    font-size:1.5em;
}
#event{
    background-image: url(/gnu/img/event_bg.png);
    font-family: 'Noto Sans KR', sans-serif;
}
#event .dots img{
    position: absolute;
    width:90vw;
    animation: dot 3s ease-in-out infinite
}
@keyframes dot {
    50% { margin-top:-40px;  }
}
#event .emt{
    background-color:#fda92c;
    width:10rem;
    border-radius: 10px;
}
#event .emt h3{
    font-size: 3rem;
    color:#fff;
}
#event .quiz_t{
    font-size: 3.5rem;
}
#event .quiz_s{
    flex-direction: column;
    align-items: center;
}
#event .quiz{
    border:2px solid #84C578;
    background-color: #fff;
    border-radius: 0.7rem;
    width: 34rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#event .quiz h4,
#event .pres h4{
    border:2px solid #84C578;
    border-radius: 0.7rem;
    background-color: #fff;
    width:7rem;
    text-align:center;
}
#event .quiz h4{
    top:-7%;
}
#event .quiz img{
    display: block;
}
#event .quiz p{
    margin:-101px 0 0 0.4rem;
    font-size:5.2rem;
    font-family: 'Jua', sans-serif;
}
#event .quiz .hint{
    color:#f4b3b3;
    font-size: 1.2rem;
}
#event .quiz span{
    color:#f4b3b3;
}
#event ul li strong{
    border:2px solid #ff0000;
    background-color: #fff;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding-left: 0;
    width:5rem;
}
#event .pres{
    border:2px solid #FFCC18;
    background-color: #fff;
    border-radius: 0.7rem;
    width: 34rem;
    max-width: 80vw;
    font-family: 'Hahmlet', serif;
}
#event .pres h4{
    border:2px solid #FFCC18;
    top:-3%;
}
#event .pres div{
    border:2px solid #C7D7C5;
    background-color: #fff;
    border-radius: 0.7rem;
    width:60%;
}
#event .pres p{
    font-size: 1rem;
    font-weight: bold;
}
#event .pres img{
    max-width:200px;
}
#event .apply{
    background-color: #FFCC18;
    border-radius: 0.7rem;
    width: 34rem;
    max-width: 80vw;
    height:38rem;
}
#event .apply h4{
    margin-top: 0.4rem;
}
#event .apply .opa_y{
    background-color: #ffffff;
    border-radius: 0.7rem;
    width: 97%;
    height: 35rem;
    opacity: 0.6;
    top: 7%;
}
#event .opa_y li{
    line-height: 2rem;
}
#event .opa_y li strong{
    color:#000;
}
#event .opa_y input{
    background-color: #ffffff;
    border: 1px solid #000;
}
#event .terms{
    top:45%;
}
#event .terms textarea{
    width: 100%;
    height: 6.25em;
    resize: none;
}
#event .apply .apl{
    top:71%;
}
#event .term_a{
    top:78%;
}
#event .term_a input{
    display:inline-block;
    width:10rem;
    height:2.5rem;
}
#event .sub{
    top: 88%;
    left: 5%;
}
#event .sub p{
    font-size:1rem;
    color:#ccc;
    margin-bottom:0;
}
#mainBanner{
    height: calc( 100vh - 150px );
    max-height:700px;
    min-height:700px;
    overflow: hidden;  
    position: relative;
}
#mainBanner div.bg{
    content: "";
    display: block;
    position: absolute;
    width: 202vw;
    height: 81%;
    background-color: #ecc30a;
    transform: rotate(-12deg);
    left: -8%;
    top: 29%;
    bottom: 0;    
}
#mainBanner div.bg .content{ font-size: 80px;}
#mainBanner:before{
  content: "";
  position: absolute;
  width: 22vw; 
  height: 22vw;
  max-width:635px; 
  background-color: #04610c;
  left:50%; top:61%; 
  transform: translate(20%, -50%);
}
#mainBanner .title{
    transform: translateY(-50%);
}
#mainBanner .inner{
    padding-top: 10em;
    z-index: 100;
}
#mainBanner p{
    font-size: 2em;    
    letter-spacing: -0.05em;
}
#mainBanner h3{
    font-size: 3.8em;    
    letter-spacing: -0.05em;
}
#mainBanner .animated-title {font-size:60px}
#mainBanner .animated-title .slide1{animation: marquee 70s linear infinite; }
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
#mainBanner .animated-title .track .slide{animation: marquee2 70s linear infinite; }
@keyframes marquee2 {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }
@media (hover: hover) and (min-width:200vw){
    #mainBanner .animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
    }
#ft ul li a{
    display:block;
    text-decoration: none;
    color:#000;
 }
 #ft{
    background-color:#fff;
 }

 #ft .ft_m h4{
    color:#0604a3;
    font-weight: bold;
 }
 #ft .ft_m strong{
    font-size:2rem;
 }
 #ft .ft_m p{
    font-size:1rem;
 }


 @media (max-width:1080px){
    /* .section{ min-height:200vw;} */
    #mainBanner p{
        font-size: 3vw;
    }
    }
    @media (max-width:620px){
    /* .section{ min-height:200vw;} */
    #mainBanner p{
        font-size: 18px;
    }
    #slogen .poem p{
        font-size:25px;
    }
    #slogen .poem {
        top: 14%;
        left: 26.5%;
    }
    #slogen .bg_g {
        top: 66%;
        left: 29.5%;
    }
    #event .opa_y li strong {
        font-size: 19px;
    }
    #event .quiz_t {
        font-size: 27px;
        margin: 28px 0;
    }
}